$containerColor: #333;
$textColor: #40400D;
$bgBeige: #FBFBF0;
$highlightColor: #1676BB;
$bgColor: #222;
$borderColor: #111;
$winningGreen: rgba(129,196,0, .6);
$containerWidth: 1200px;
$scriptFont: "Amatic SC";
$normalFont: "Oswald";

.join-menu-container {
	width: 600px;
	background-color: #333;
	border-top: 1px solid white;
	overflow: hidden;
	margin: 50px auto;
	display: block;
	min-height: 200px;
	font-family: $scriptFont;

	.join-input-container {
		margin: 0 auto;
		width: 400px;
		display: block;

		.join-ID-field {
			margin: 50px auto 20px auto;
			display: block;
		    font-size: 16pt;
		    line-height: 12pt;
		    padding: 4px;
		    width: 300px;
		    text-align: center;
		    background-color: darken(white, 30%);
		    color: white;
		    font-weight: 800;
			font-family: $scriptFont;
		}

		.ID-submit-button {
			margin: 0 auto;
			display: block;
			width: 150px;
			height: 40px;
			font-size: 14pt;
			font-family: $normalFont;
		}
	}

	.confirm-input-container {
		display: block;
		width: 450px;
		margin: 40px auto 0px auto;
		padding: 20px;
		color: white;

		.confirm-details {
			background: #555;
			overflow: hidden;
			white-space: nowrap;
			padding: 20px;

			.confirm-name {
				font-size: 16pt;
				font-family: $normalFont;
				padding: 10px;

				a {
					color: white;

					&:hover{
						color: $highlightColor;
					}
				}
			}
		}

		.confirm-avatar {
			border: 1px solid white;
			
			img {
				width: 80px;
				height: 80px;
			}
		}
	}

	.confirm-text {
		color: white;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding: 30px 0px 10px 0px;
		font-size: 20pt;
		font-weight: 800;

	}
	.hidden {
		display: none;
	}
}