$containerColor: #02416F;

.latest-game-container {
	width: 1220px;
	background-color: $containerColor;
	outline: 1px solid white;
	outline-offset: -4px;
	overflow: hidden;
	margin: 50px auto;
	display: block;
	min-height: 200px;
}

.duration {
    font-weight: 700;
    font-size: 14pt;
    margin-left: 25px;
    border: 2px solid darken(gold, 20%);
    text-align: center;
    line-height: 20pt;
}

#won {
	background-image: linear-gradient(to left, transparent, transparent, transparent, rgba(129,196,0, .6));
}

#lost {
	background-image: linear-gradient(to left, transparent,transparent,transparent, rgba(124,10,2, .8));
}

.latest-game-item {
	color: white;
	height: 90px;
	margin: 5px 5px 5px 5px;
	padding: 10px;
	font-family: righteous;
	position: relative;

	&:before {
		content:'';
		width:400px;
		height:90px;
		position: absolute;
		left:0;
		top:0;
		background:linear-gradient(to right, transparent 350px, $containerColor);
		pointer-events: none;
	}

	div {
		padding: 0 10px 0 10px;
	}

	.per-minute {
		padding: 0;
		width: 80px;
	}

	.player-info {
		height: 60px;
		width: 400px;

		.hero-icon {
			height: 60px;
			width: 107px;

			&:hover {
				outline: 2px solid white;
			};
		}

		.name-block {
			padding: 1px 0;
			width: 272px;

			.player-name {
				font-size: 18pt;
				vertical-align: top;
				display: block;
				overflow: hidden;
				white-space: nowrap;

				a {
					color: #00A7BB;

					&:hover {
						color: lighten(#00A7BB, 40%);
					};
				}
			}

			.hero-name {
				vertical-align: bottom;
				display: block;
				font-size: 12pt;
			}
		}
	}

	.role-container {
		width: 120px;
	}

	.hero-role {
		transform: rotate(-45deg);
		font-size: 10pt;
		text-align: center;
		width: 100%;
		font-weight: 700;

		.lane {
			text-align: center;
			width: 100%;
			font-weight: 700;
			font-size: 8pt;
			color: lighten(gray, 20%);
			text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
		}

		.role-in-lane {
			text-align: center;
			font-size: 13pt;
			width: 100%;
			font-weight: 700;
			text-shadow: 1px 0 black;
		}
	}


	.hero-statline {
		font-size: 12pt;
		width: 440px;

		.hero-level {
			font-size: 18pt;
			font-weight: 700;
			width: 60px;
		}

		.hero-kda {
			font-weight: 600;
			font-size: 12pt;
			width: 100px;

			.hero-kills {
				color: lighten(green, 20%);
			}
			.hero-deaths {
				color: lighten(red, 10%);
			}
			.hero-assists {
				color: lighten(blue, 30%);
			}
		}

		.hero-cs {
			width: 100px;

			.hero-lh {
				color: gold;
			}
			.hero-denies {
				color: pink;
			}
		}

		.hero-networth {
			width: 80px;
			color: gold;
			font-weight: 900;
		}
	}

	.hero-items-list {
		width: 121.5px;
		height: 100%;
		padding: 0;

		.statline-item {
			width: 38.5px;
			height: 28px;
			margin: 1px;
			outline: none;
		}
	}
}
