.leaderboard-container {
	width: 1000px;
	background-color: black;
	outline: 2px solid white;
	outline-offset: -4px;
	overflow: hidden;
}

.leaderboard-item {
	color: white;
	height: 60px;
	margin: 5px 20px;
	padding: 10px;

	div {
		padding: 0 10px 0 10px;
	}

	.hero-info {
		img {
			padding: 0 10px 0 0;
		}
	}

	.hero-items-list {
		width: 90px;
		height: 100%;
		padding: 0;

		.statline-item {
			width: 30px;
		}
	}
}
