.leaderboard-container {
	width: 1050px;
	background-color: #333;
	outline: 1px solid white;
	outline-offset: -4px;
	overflow: hidden;
	margin: 20px auto;
	display: block;
}

.leaderboard-item {
	color: white;
	height: 70px;
	margin: 10px 20px 10px 5px;
	padding: 5px;

	div {
		padding: 0 10px 0 10px;
	}

	.per-minute {
		padding: 0;
		width: 80px;
	}

	.player-info {
		height: 60px;
		width: 320px;

		.hero-icon {
			padding: 0 10px 0 0;
			height: 60px;
			width: 107px;
		}

		.name-block {
			padding: 1px 0;
			width: 190px;

			.player-name {
				font-size: 18pt;
				vertical-align: top;
				display: block;
				overflow: hidden;
				white-space: nowrap;

				a {
					color: #00A7BB;

					&:hover {
						color: lighten(#00A7BB, 40%);
					};
				}
			}

			.hero-name {
				vertical-align: bottom;
				display: block;
				font-size: 12pt;
			}
		}
	}

	.role-container {
		width: 120px;
	}

	.hero-role {
		transform: rotate(-45deg);
		font-size: 10pt;
	}
	#core {
		color:black;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	}

	#support {
		color: lighten(gray, 20%);
		text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	}

	.hero-statline {
		font-size: 12pt;

		.hero-level {
			font-size: 18pt;
			font-weight: 700;
		}

		.hero-kda {
			font-weight: 600;
			font-size: 12pt;
			width: 100px;

			.hero-kills {
				color: lighten(green, 20%);
			}
			.hero-deaths {
				color: lighten(red, 10%);
			}
			.hero-assists {
				color: lighten(blue, 30%);
			}
		}

		.hero-cs {
			width: 80px;

			.hero-lh {
				color: gold;
			}
			.hero-denies {
				color: pink;
			}
		}

		.hero-networth {
			width: 80px;
			color: gold;
			font-weight: 900;
		}
	}

	.hero-items-list {
		width: 121.5px;
		height: 100%;
		padding: 0;

		.statline-item {
			width: 38.5px;
			height: 28px;
			margin: 1px;
			outline: none;
		}
	}
}
