$greenColor: #3C3C07;
$containerColor: #333;

.nav-container {
	width: 100%;
	height: 80px;
	border-bottom: solid white 2px;
	overflow: hidden;
	position: fixed;
	top: 0px;
	background: $containerColor;
}

#steam-login-button {
	float: right;
	font-weight: 700;
}

#join-link {
	float: right;
	border: 1px solid white;
	padding: 0 20px 0 20px;
}

.nav-link {
	display: inline-block;
	color: white;
	margin: 15px;
	font-size: 40pt;
	font-weight: 800;
	font-family: amatic SC;
	cursor: pointer;

	&:hover {
		color: lighten($greenColor, 20%);
	}
}

.wskb-logo {
	float: right;
	height: 60px;
	width: 60px;
	margin: 10px;
}

a {
	text-decoration: none;
}